In [ ]:
x=range(8)
print(x)
print(list(x))

range(0, 8)
[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
x=range(2,20,3)
print(x)
print(list(x))

range(2, 20, 3)
[2, 5, 8, 11, 14, 17]

In [ ]:
x=range(4,8)
print(x)
print(list(x))

range(4, 8)
[4, 5, 6, 7]

In [ ]:
x=range(2,20,3)
for i in x:
   print(i)

2
5
8
11
14
17

In [ ]:
s="KGRCET"
for i in s:
  print(i,end=" ")

K G R C E T

In [ ]:
list_1=[9,5,7,2,5,3,8,14,6,11]
for i in range(0,len(list_1),2):
  print(list_1[i],end=" ")

9 7 5 8 6

In [ ]:
list_1=[9,5,7,2,5,3,8,14,6,11]
for i in range(1,len(list_1),2):
  print(list_1[i],end=" ")

5 2 3 14 11

In [ ]:
step=int(input("Enter the step value:"))
list_1=[9,5,7,2,5,3,8,14,6,11]
for i in range(0,len(list_1),step):
  print(list_1[i],end=" ")

Enter the step value:3
9 2 8 11

In [1]:
i=1
while i<8:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7

In [2]:
i=1
while i<8:
    print(i)
    i+=1

1
2
3
4
5
6
7

In [3]:
i=1
while i<8:
    print(i,end=" ")
    if i==4:
      break
    i+=1

1 2 3 4

In [6]:
i=8
while i>0:
  print(i)
  if i==3:
    break
  i -= 1

8
7
6
5
4
3

In [1]:
for number in [1,2,3,5,6,10,11,12]:
    if number==6:
        break
    print(number,end=" ")
print("BYE")

1 2 3 5 BYE

In [2]:
for number in [1,2,3,5,6,10,11,12]:
    if number==6:
        continue
    print(number,end=" ")
print("BYE")

1 2 3 5 10 11 12 BYE